<h3>商品一覧</h3>

<div class="container">
  <table class="table">
      <thead>
         <tr>
          <th>商品id</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
         </tr>
      </thead>
      <tbody>
         <% @items.each do |item| %>
           <tr>
             <td>
               <!----商品idを表示-->
               <%= item.id %>
             </td>
             <td>
              <%= link_to item.name, admin_item_path(item.id) %>
             </td>
             <td>
               <%= item.price %>円
             </td>
             <td>
               <!----ジャンル名を表示-->
             </td>
             <td>
               <!----ステータスを表示-->
             </td>
           </tr>
         <% end %>
      </tbody>
  </table>
</div>
